In [1]:
# important: please modify the path as your local spark location 
spark_path = "D:/spark-2.3.1-bin-hadoop2.7"

In [2]:
# configure spark, a message regrads time will print out if success
import findspark
from datetime import datetime
findspark.init("D:/spark-2.3.1-bin-hadoop2.7")
from pyspark import SparkConf, SparkContext
conf = SparkConf().setMaster("local").setAppName("ibm_hr_simple")
sc = SparkContext(conf = conf)
print("spark is well set at " + str(datetime.now()))

spark is well set at 2018-08-01 10:03:07.645657

In [3]:
# open spark session
from pyspark.context import SparkContext
from pyspark.sql.session import SparkSession
spark = SparkSession(sc)
spark

In [4]:
# load dataset
ibm_hr = spark.read.csv("../data/WA_Fn-UseC_-HR-Employee-Attrition.csv", header=True, mode="DROPMALFORMED")
ibm_hr.show(3)

+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
|Age|Attrition|   BusinessTravel|DailyRate|          Department|DistanceFromHome|Education|EducationField|EmployeeCount|EmployeeNumber|EnvironmentSatisfaction|Gender|HourlyRate|JobInvolvement|JobLevel|             JobRole|JobSatisfaction|MaritalStatus|MonthlyIncome|MonthlyRate|NumCompaniesWorked|Over18|OverTime|PercentSalaryHike|PerformanceRating|RelationshipSatisfaction|StandardHours|StockOptionLevel|TotalWorkingYears|TrainingTimesLastYear|WorkLifeBalance|YearsAtCompany|YearsInCurrentRole|YearsSinceLastPromotion|YearsWithCurrManager|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
| 41|      Yes|    Travel_Rarely|     1102|               Sales|               1|        2| Life Sciences|            1|             1|                      2|Female|        94|             3|       2|     Sales Executive|              4|       Single|         5993|      19479|                 8|     Y|     Yes|               11|                3|                       1|           80|               0|                8|                    0|              1|             6|                 4|                      0|                   5|
| 49|       No|Travel_Frequently|      279|Research & Develo...|               8|        1| Life Sciences|            1|             2|                      3|  Male|        61|             2|       2|  Research Scientist|              2|      Married|         5130|      24907|                 1|     Y|      No|               23|                4|                       4|           80|               1|               10|                    3|              3|            10|                 7|                      1|                   7|
| 37|      Yes|    Travel_Rarely|     1373|Research & Develo...|               2|        2|         Other|            1|             4|                      4|  Male|        92|             2|       1|Laboratory Techni...|              3|       Single|         2090|       2396|                 6|     Y|     Yes|               15|                3|                       2|           80|               0|                7|                    3|              3|             0|                 0|                      0|                   0|
+---+---------+-----------------+---------+--------------------+----------------+---------+--------------+-------------+--------------+-----------------------+------+----------+--------------+--------+--------------------+---------------+-------------+-------------+-----------+------------------+------+--------+-----------------+-----------------+------------------------+-------------+----------------+-----------------+---------------------+---------------+--------------+------------------+-----------------------+--------------------+
only showing top 3 rows

In [5]:
from pyspark.sql.functions import udf
from pyspark.sql.types import *
# define function to transform boolean
def bool_to_int(b):
    if b == "Yes":
        return 1
    else:
        return 0
# register user defined function with spark SQL
udf_bool_to_int = udf(bool_to_int, IntegerType())
# add column
ibm_hr_target = ibm_hr.withColumn("Attrition_numerical", udf_bool_to_int("Attrition"))
# check the result
ibm_hr_target.select("Attrition", "Attrition_numerical").show(3)

+---------+-------------------+
|Attrition|Attrition_numerical|
+---------+-------------------+
|      Yes|                  1|
|       No|                  0|
|      Yes|                  1|
+---------+-------------------+
only showing top 3 rows

In [6]:
ibm_hr_target = ibm_hr_target.drop("Attrition")
ibm_hr_target.count(), len(ibm_hr_target.columns)

(1470, 35)

In [7]:
categorical = ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'OverTime']
numerical = [u'Age', u'DailyRate', u'DistanceFromHome', u'Education', u'EmployeeNumber', u'EnvironmentSatisfaction', \
             u'HourlyRate', u'JobInvolvement', u'JobLevel', u'JobSatisfaction', \
             u'MonthlyIncome', u'MonthlyRate', u'NumCompaniesWorked', \
             u'PercentSalaryHike', u'PerformanceRating', u'RelationshipSatisfaction', \
             u'StockOptionLevel', u'TotalWorkingYears', \
             u'TrainingTimesLastYear', u'WorkLifeBalance', u'YearsAtCompany', \
             u'YearsInCurrentRole', u'YearsSinceLastPromotion', u'YearsWithCurrManager']
len(categorical), len(numerical)

(7, 24)

In [8]:
# use pandas to get_dummies
import pandas as pd
pd_cat = pd.get_dummies(ibm_hr_target.select(categorical).toPandas())
pd_cat.head(3)

,BusinessTravel_Non-Travel,BusinessTravel_Travel_Frequently,BusinessTravel_Travel_Rarely,Department_Human Resources,Department_Research & Development,Department_Sales,EducationField_Human Resources,EducationField_Life Sciences,EducationField_Marketing,EducationField_Medical,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0,0,1,0,0,1,0,1,0,0,...,0,0,0,1,0,0,0,1,0,1
1,0,1,0,0,1,0,0,1,0,0,...,0,0,1,0,0,0,1,0,1,0
2,0,0,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1

In [9]:
ibm_hr_cat = spark.createDataFrame(pd_cat)
for c in ibm_hr_cat.columns:
    ibm_hr_cat = ibm_hr_cat.withColumn(c, ibm_hr_cat[c].cast(IntegerType()))
ibm_hr_att = ibm_hr_target.select("Attrition_numerical")
ibm_hr_target = ibm_hr_target.select(numerical)
for c in ibm_hr_target.columns:
    ibm_hr_target = ibm_hr_target.withColumn(c, ibm_hr_target[c].cast(IntegerType()))

In [10]:
ibm_hr_target = ibm_hr_target.join(ibm_hr_cat)
ibm_hr_target = ibm_hr_target.join(ibm_hr_att)
ibm_hr_target.printSchema()

root
 |-- Age: integer (nullable = true)
 |-- DailyRate: integer (nullable = true)
 |-- DistanceFromHome: integer (nullable = true)
 |-- Education: integer (nullable = true)
 |-- EmployeeNumber: integer (nullable = true)
 |-- EnvironmentSatisfaction: integer (nullable = true)
 |-- HourlyRate: integer (nullable = true)
 |-- JobInvolvement: integer (nullable = true)
 |-- JobLevel: integer (nullable = true)
 |-- JobSatisfaction: integer (nullable = true)
 |-- MonthlyIncome: integer (nullable = true)
 |-- MonthlyRate: integer (nullable = true)
 |-- NumCompaniesWorked: integer (nullable = true)
 |-- PercentSalaryHike: integer (nullable = true)
 |-- PerformanceRating: integer (nullable = true)
 |-- RelationshipSatisfaction: integer (nullable = true)
 |-- StockOptionLevel: integer (nullable = true)
 |-- TotalWorkingYears: integer (nullable = true)
 |-- TrainingTimesLastYear: integer (nullable = true)
 |-- WorkLifeBalance: integer (nullable = true)
 |-- YearsAtCompany: integer (nullable = true)
 |-- YearsInCurrentRole: integer (nullable = true)
 |-- YearsSinceLastPromotion: integer (nullable = true)
 |-- YearsWithCurrManager: integer (nullable = true)
 |-- BusinessTravel_Non-Travel: integer (nullable = true)
 |-- BusinessTravel_Travel_Frequently: integer (nullable = true)
 |-- BusinessTravel_Travel_Rarely: integer (nullable = true)
 |-- Department_Human Resources: integer (nullable = true)
 |-- Department_Research & Development: integer (nullable = true)
 |-- Department_Sales: integer (nullable = true)
 |-- EducationField_Human Resources: integer (nullable = true)
 |-- EducationField_Life Sciences: integer (nullable = true)
 |-- EducationField_Marketing: integer (nullable = true)
 |-- EducationField_Medical: integer (nullable = true)
 |-- EducationField_Other: integer (nullable = true)
 |-- EducationField_Technical Degree: integer (nullable = true)
 |-- Gender_Female: integer (nullable = true)
 |-- Gender_Male: integer (nullable = true)
 |-- JobRole_Healthcare Representative: integer (nullable = true)
 |-- JobRole_Human Resources: integer (nullable = true)
 |-- JobRole_Laboratory Technician: integer (nullable = true)
 |-- JobRole_Manager: integer (nullable = true)
 |-- JobRole_Manufacturing Director: integer (nullable = true)
 |-- JobRole_Research Director: integer (nullable = true)
 |-- JobRole_Research Scientist: integer (nullable = true)
 |-- JobRole_Sales Executive: integer (nullable = true)
 |-- JobRole_Sales Representative: integer (nullable = true)
 |-- MaritalStatus_Divorced: integer (nullable = true)
 |-- MaritalStatus_Married: integer (nullable = true)
 |-- MaritalStatus_Single: integer (nullable = true)
 |-- OverTime_No: integer (nullable = true)
 |-- OverTime_Yes: integer (nullable = true)
 |-- Attrition_numerical: integer (nullable = true)

In [11]:
feature_col = ibm_hr_target.columns
feature_col.remove("Attrition_numerical")
len(feature_col), len(ibm_hr_target.columns)

(52, 53)

### The problem here seems to be with the join
to have a clearer view, I'll switch to another notebook

In [31]:
ibm_hr_cat.count()

1470

In [32]:
ibm_hr_att.count()

1470

In [30]:
ibm_hr_cat.join(ibm_hr_att).count()

AnalysisException: 'Detected implicit cartesian product for INNER join between logical plans\nProject\n+- LogicalRDD [BusinessTravel_Non-Travel#360L, BusinessTravel_Travel_Frequently#361L, BusinessTravel_Travel_Rarely#362L, Department_Human Resources#363L, Department_Research & Development#364L, Department_Sales#365L, EducationField_Human Resources#366L, EducationField_Life Sciences#367L, EducationField_Marketing#368L, EducationField_Medical#369L, EducationField_Other#370L, EducationField_Technical Degree#371L, Gender_Female#372L, Gender_Male#373L, JobRole_Healthcare Representative#374L, JobRole_Human Resources#375L, JobRole_Laboratory Technician#376L, JobRole_Manager#377L, JobRole_Manufacturing Director#378L, JobRole_Research Director#379L, JobRole_Research Scientist#380L, JobRole_Sales Executive#381L, JobRole_Sales Representative#382L, MaritalStatus_Divorced#383L, ... 4 more fields], false\nand\nProject\n+- Relation[Age#10,Attrition#11,BusinessTravel#12,DailyRate#13,Department#14,DistanceFromHome#15,Education#16,EducationField#17,EmployeeCount#18,EmployeeNumber#19,EnvironmentSatisfaction#20,Gender#21,HourlyRate#22,JobInvolvement#23,JobLevel#24,JobRole#25,JobSatisfaction#26,MaritalStatus#27,MonthlyIncome#28,MonthlyRate#29,NumCompaniesWorked#30,Over18#31,OverTime#32,PercentSalaryHike#33,... 11 more fields] csv\nJoin condition is missing or trivial.\nEither: use the CROSS JOIN syntax to allow cartesian products between these\nrelations, or: enable implicit cartesian products by setting the configuration\nvariable spark.sql.crossJoin.enabled=true;'

In [23]:
from pyspark.ml import Pipeline
from pyspark.ml.classification import DecisionTreeClassifier
from pyspark.ml.feature import VectorAssembler, StringIndexer, VectorIndexer
assembler = VectorAssembler(inputCols = feature_col, outputCol = "features")
assembled = assembler.transform(ibm_hr_target)
(training_data, testing_data) = assembled.randomSplit([0.8, 0.2], seed = 13234)
training_data.count(), test_data.count()

AnalysisException: 'Detected implicit cartesian product for INNER join between logical plans\nJoin Inner\n:- Join Inner\n:  :- Join Inner\n:  :  :- Project [cast(Age#10 as int) AS Age#691, cast(DailyRate#13 as int) AS DailyRate#716, cast(DistanceFromHome#15 as int) AS DistanceFromHome#741, cast(Education#16 as int) AS Education#766, cast(EmployeeNumber#19 as int) AS EmployeeNumber#791, cast(EnvironmentSatisfaction#20 as int) AS EnvironmentSatisfaction#816, cast(HourlyRate#22 as int) AS HourlyRate#841, cast(JobInvolvement#23 as int) AS JobInvolvement#866, cast(JobLevel#24 as int) AS JobLevel#891, cast(JobSatisfaction#26 as int) AS JobSatisfaction#916, cast(MonthlyIncome#28 as int) AS MonthlyIncome#941, cast(MonthlyRate#29 as int) AS MonthlyRate#966, cast(NumCompaniesWorked#30 as int) AS NumCompaniesWorked#991, cast(PercentSalaryHike#33 as int) AS PercentSalaryHike#1016, cast(PerformanceRating#34 as int) AS PerformanceRating#1041, cast(RelationshipSatisfaction#35 as int) AS RelationshipSatisfaction#1066, cast(StockOptionLevel#37 as int) AS StockOptionLevel#1091, cast(TotalWorkingYears#38 as int) AS TotalWorkingYears#1116, cast(TrainingTimesLastYear#39 as int) AS TrainingTimesLastYear#1141, cast(WorkLifeBalance#40 as int) AS WorkLifeBalance#1166, cast(YearsAtCompany#41 as int) AS YearsAtCompany#1191, cast(YearsInCurrentRole#42 as int) AS YearsInCurrentRole#1216, cast(YearsSinceLastPromotion#43 as int) AS YearsSinceLastPromotion#1241, cast(YearsWithCurrManager#44 as int) AS YearsWithCurrManager#1266]\n:  :  :  +- Relation[Age#10,Attrition#11,BusinessTravel#12,DailyRate#13,Department#14,DistanceFromHome#15,Education#16,EducationField#17,EmployeeCount#18,EmployeeNumber#19,EnvironmentSatisfaction#20,Gender#21,HourlyRate#22,JobInvolvement#23,JobLevel#24,JobRole#25,JobSatisfaction#26,MaritalStatus#27,MonthlyIncome#28,MonthlyRate#29,NumCompaniesWorked#30,Over18#31,OverTime#32,PercentSalaryHike#33,... 11 more fields] csv\n:  :  +- Project\n:  :     +- LogicalRDD [BusinessTravel_Non-Travel#610L, BusinessTravel_Travel_Frequently#611L, BusinessTravel_Travel_Rarely#612L, Department_Human Resources#613L, Department_Research & Development#614L, Department_Sales#615L, EducationField_Human Resources#616L, EducationField_Life Sciences#617L, EducationField_Marketing#618L, EducationField_Medical#619L, EducationField_Other#620L, EducationField_Technical Degree#621L, Gender_Female#622L, Gender_Male#623L, JobRole_Healthcare Representative#624L, JobRole_Human Resources#625L, JobRole_Laboratory Technician#626L, JobRole_Manager#627L, JobRole_Manufacturing Director#628L, JobRole_Research Director#629L, JobRole_Research Scientist#630L, JobRole_Sales Executive#631L, JobRole_Sales Representative#632L, MaritalStatus_Divorced#633L, ... 4 more fields], false\n:  +- Project\n:     +- Relation[Age#10,Attrition#11,BusinessTravel#12,DailyRate#13,Department#14,DistanceFromHome#15,Education#16,EducationField#17,EmployeeCount#18,EmployeeNumber#19,EnvironmentSatisfaction#20,Gender#21,HourlyRate#22,JobInvolvement#23,JobLevel#24,JobRole#25,JobSatisfaction#26,MaritalStatus#27,MonthlyIncome#28,MonthlyRate#29,NumCompaniesWorked#30,Over18#31,OverTime#32,PercentSalaryHike#33,... 11 more fields] csv\n+- Project [cast(BusinessTravel_Non-Travel#1396L as int) AS BusinessTravel_Non-Travel#1452, cast(BusinessTravel_Travel_Frequently#1397L as int) AS BusinessTravel_Travel_Frequently#1481, cast(BusinessTravel_Travel_Rarely#1398L as int) AS BusinessTravel_Travel_Rarely#1510, cast(Department_Human Resources#1399L as int) AS Department_Human Resources#1539, cast(Department_Research & Development#1400L as int) AS Department_Research & Development#1568, cast(Department_Sales#1401L as int) AS Department_Sales#1597, cast(EducationField_Human Resources#1402L as int) AS EducationField_Human Resources#1626, cast(EducationField_Life Sciences#1403L as int) AS EducationField_Life Sciences#1655, cast(EducationField_Marketing#1404L as int) AS EducationField_Marketing#1684, cast(EducationField_Medical#1405L as int) AS EducationField_Medical#1713, cast(EducationField_Other#1406L as int) AS EducationField_Other#1742, cast(EducationField_Technical Degree#1407L as int) AS EducationField_Technical Degree#1771, cast(Gender_Female#1408L as int) AS Gender_Female#1800, cast(Gender_Male#1409L as int) AS Gender_Male#1829, cast(JobRole_Healthcare Representative#1410L as int) AS JobRole_Healthcare Representative#1858, cast(JobRole_Human Resources#1411L as int) AS JobRole_Human Resources#1887, cast(JobRole_Laboratory Technician#1412L as int) AS JobRole_Laboratory Technician#1916, cast(JobRole_Manager#1413L as int) AS JobRole_Manager#1945, cast(JobRole_Manufacturing Director#1414L as int) AS JobRole_Manufacturing Director#1974, cast(JobRole_Research Director#1415L as int) AS JobRole_Research Director#2003, cast(JobRole_Research Scientist#1416L as int) AS JobRole_Research Scientist#2032, cast(JobRole_Sales Executive#1417L as int) AS JobRole_Sales Executive#2061, cast(JobRole_Sales Representative#1418L as int) AS JobRole_Sales Representative#2090, cast(MaritalStatus_Divorced#1419L as int) AS MaritalStatus_Divorced#2119, ... 4 more fields]\n   +- LogicalRDD [BusinessTravel_Non-Travel#1396L, BusinessTravel_Travel_Frequently#1397L, BusinessTravel_Travel_Rarely#1398L, Department_Human Resources#1399L, Department_Research & Development#1400L, Department_Sales#1401L, EducationField_Human Resources#1402L, EducationField_Life Sciences#1403L, EducationField_Marketing#1404L, EducationField_Medical#1405L, EducationField_Other#1406L, EducationField_Technical Degree#1407L, Gender_Female#1408L, Gender_Male#1409L, JobRole_Healthcare Representative#1410L, JobRole_Human Resources#1411L, JobRole_Laboratory Technician#1412L, JobRole_Manager#1413L, JobRole_Manufacturing Director#1414L, JobRole_Research Director#1415L, JobRole_Research Scientist#1416L, JobRole_Sales Executive#1417L, JobRole_Sales Representative#1418L, MaritalStatus_Divorced#1419L, ... 4 more fields], false\nand\nJoin Inner\n:- Join Inner\n:  :- Project\n:  :  +- Relation[Age#10,Attrition#11,BusinessTravel#12,DailyRate#13,Department#14,DistanceFromHome#15,Education#16,EducationField#17,EmployeeCount#18,EmployeeNumber#19,EnvironmentSatisfaction#20,Gender#21,HourlyRate#22,JobInvolvement#23,JobLevel#24,JobRole#25,JobSatisfaction#26,MaritalStatus#27,MonthlyIncome#28,MonthlyRate#29,NumCompaniesWorked#30,Over18#31,OverTime#32,PercentSalaryHike#33,... 11 more fields] csv\n:  +- Project\n:     +- LogicalRDD [BusinessTravel_Non-Travel#610L, BusinessTravel_Travel_Frequently#611L, BusinessTravel_Travel_Rarely#612L, Department_Human Resources#613L, Department_Research & Development#614L, Department_Sales#615L, EducationField_Human Resources#616L, EducationField_Life Sciences#617L, EducationField_Marketing#618L, EducationField_Medical#619L, EducationField_Other#620L, EducationField_Technical Degree#621L, Gender_Female#622L, Gender_Male#623L, JobRole_Healthcare Representative#624L, JobRole_Human Resources#625L, JobRole_Laboratory Technician#626L, JobRole_Manager#627L, JobRole_Manufacturing Director#628L, JobRole_Research Director#629L, JobRole_Research Scientist#630L, JobRole_Sales Executive#631L, JobRole_Sales Representative#632L, MaritalStatus_Divorced#633L, ... 4 more fields], false\n+- Project [bool_to_int(Attrition#11) AS Attrition_numerical#222]\n   +- Relation[Age#10,Attrition#11,BusinessTravel#12,DailyRate#13,Department#14,DistanceFromHome#15,Education#16,EducationField#17,EmployeeCount#18,EmployeeNumber#19,EnvironmentSatisfaction#20,Gender#21,HourlyRate#22,JobInvolvement#23,JobLevel#24,JobRole#25,JobSatisfaction#26,MaritalStatus#27,MonthlyIncome#28,MonthlyRate#29,NumCompaniesWorked#30,Over18#31,OverTime#32,PercentSalaryHike#33,... 11 more fields] csv\nJoin condition is missing or trivial.\nEither: use the CROSS JOIN syntax to allow cartesian products between these\nrelations, or: enable implicit cartesian products by setting the configuration\nvariable spark.sql.crossJoin.enabled=true;'